{
  "extends": "eslint:recommended",
  "rules": {
    "semi": [ 2, "never" ],
    "no-console": 0,
    "no-undef": 0,
    "global-require": 0,
    "quotes": [2, "single", {"avoidEscape": true, "allowTemplateLiterals": true}]
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "spread": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "jest": true
  },
  "globals": {
    "browser": true
  }
}
